.App {
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #787878;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  text-align: center;
  padding: 5rem;
}

.Heading {
  padding: 0 0 3rem 0;
}

ul {
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
}

@media screen and (max-width: 700px) {
  .App {
    padding: 3rem 1rem;
  }
}
